
@media screen and (min-width: 1024px) {

    #imgcontainer {
        position: relative;
        display: flex;
        background-image: url(../images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        margin: 0px;
        width: 500px;
    }

    #imgfrontcard {
        position: absolute;
        background-image: url(../images/bg-card-front.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        top: 190px;
        left: 155px;
        height: 150px;
        border-radius: 5px;
        align-self: end;
        width: 410px;
        height: 225px;
        z-index: 2;
    }
    
    #imgbackcard {
        position: absolute;
        background: url(../images/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 410px;
        height: 225px;
        top: 450px;
        right: 775px;
        background-position: left;
        box-sizing: border-box;
        z-index: 1;
    }
    
    /*⇩⇩⇩DETALHES DO CARTAO⇩⇩⇩*/
    .numerocartao {
        position: absolute;
        color: rgb(250, 250, 250);
        font-size: 1.8em;
        font-weight: 100;
        top: 325px;
        left: 180px;
        z-index: 3;
    }
    
    .nomepessoa {
        position: absolute;
        color: rgb(250, 250, 250);
        font-size: 1.0em;
        top: 375px;
        left: 180px;
        z-index: 3;
    }
    
    .bola1 {
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 215px;
        left: 185px;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        z-index: 3;
    }
    
    .bola2 {
        position: absolute;
        top: 230px;
        left: 250px;
        border-radius: 50%;
        border: 1px solid white;
        width: 25px;
        height: 25px;
        z-index: 3;
    }
    
    .mesdata {
        position: absolute;
        color: rgb(250, 250, 250);
        top: 375px;
        left: 480px;
        font-size: 0.5;
        z-index: 3;
    }
    
    .codigocvc {
        position: absolute;
        color: rgb(250, 250, 250);
        top: 550px;
        left: 550px;
        font-size: 0.5;
        z-index: 3;
    }
    /*⇧⇧⇧DETALHES DO CARTAO⇧⇧⇧*/
    
    section {
        position: absolute;
        text-align: start;
        width: 1400px;
        height: 900px;
        min-height: 700px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #iform {
        position: absolute;
        top: 200px;
        left: 800px;
        display: block;
        padding: 24px;
        width: 500px;
        float: right;
    }

    #iformcheck {
        position: absolute;
        top: 200px;
        left: 900px;
        display: none;
        height: 300px;
        width: 400px;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    
    #iformcheck > h1 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 1.7em;
        color: rgb(0, 0, 0);
    }
    
    #iformcheck > p{
        font-size: 1.2em;
        
    }
    
    #icheckicon {
        display: flex;
        margin-bottom: 30px;
        margin-top: 70px;
    }
    
    #ichecksubmit {
        margin-top: 60px;
        width: 400px;
        padding: 15px;
        color: white;
        background-color: hsl(278, 68%, 11%);
        border-radius: 7px;
        border: 1px solid rgb(0, 0, 0);
        box-sizing: border-box;
        cursor: pointer;
    }

}

    
    
